.container {
  background-color: #f9f9f9;
  min-height: 100vh;
  transition: all 0.3s ease;
  padding: 20px;
  margin-left: 240px; 
}

/* Sidebar collapsed (small) */
.large-container {
  margin-left: 80px;
}

/* Sidebar hidden / menu clicked */
.full-width-container {
  margin-left: 0 !important;
  width: 100%;
  padding-left: 7%; 
}

/* Responsive */
@media (max-width: 1024px) {
  .container,
  .large-container,
  .full-width-container {
    margin-left: 0;
    padding: 15px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container,
  .large-container,
  .full-width-container {
    margin-left: 0;
    padding: 10px;
    width: 100%;
  }
}
